<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PythonPath" value="C:\Users\kuite\AppData\Local\Programs\Python\Python36-32\python.exe"/>
    <add key="EcoPath" value="C:\projects\OgameBotPython3\StartEco.py"/>
    <add key="DefPath" value="C:\projects\OgameBotPython3\StartDef.py"/>
  </appSettings>
</configuration>